data/data_structured/
data/**/*.json
data/**/*.zip
mlruns
notebooks/mlrunsold/
params/n_estimators
notebooks/projects/weightless/experiment1_newInsert/woodenInsertData/

*.zip
policy_p1
.gitignore
policy_p2
notebooks/projects/4_WheightsVsNoWeights/data/WeightsVsNoWeightsData/**/*.json
notebooks/projects/weight1_5kg/**/*.json
notebooks/projects/4_WheightsVsNoWeights/experimentOne/data/
